@page
@model _521.tpfinal.web.Pages.RegisterModel
@{
    ViewData["Title"] = "Inscription";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>Créez un compte local.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Name" class="form-control" aria-required="true" />
                    <label asp-for="Input.Name" class="form-label"></label>
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.PasswordHash" class="form-control" type="password" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.PasswordHash" class="form-label"></label>
                    <span asp-validation-for="Input.PasswordHash" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" type="password" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.ConfirmPassword" class="form-label">Confirmez le mot de passe</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <div>
                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Inscription</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
